@use '../custom' as *;
@use '../components/mixins' as *;

.nav-menu{
@include gradient;

    li{
        padding: 0  0.8rem;

        a{
            color: white !important;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}