@use '../custom' as *;
@use '../components/mixins' as *;

.nav-menu{
@include gradient;

    li{
        padding: 0  0.8rem;

        a{
            color: white !important;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    li a:hover{
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    }
}